﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewUser</title>
</head>
<body>
    <a href="@Url.Action("Create", "User")">Add new user</a>
   <br /><br />
    <table cellpadding="2" cellspacing="2" boder="1">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Password</th>
            <th>Type</th>
            <th>Option</th>
        </tr>
        @foreach (var user in ViewBag.listUsers)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.Username</td>
                <td>@user.Password</td>
                <td>@user.Type</td>
                <td>
                    <a href="@Url.Action("Delete", "User", new {id = user.Id})">Delete</a>
                    <a href="@Url.Action("Edit", "User", new {id = user.Id})">Edit</a>
                </td>
            </tr>
        }
    </table>

</body>
</html>
