﻿
@{
    Layout = null;
}

@model ASS5_Client.ViewModels.UserViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    @using (Html.BeginForm("Create", "User"))
    {
        <table cellpadding="2" cellspacing="2">
            <tr>
                <td>@Html.LabelFor(model => model.User.Username)</td>
                <td>@Html.TextBoxFor(model => model.User.Username)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.User.Password)</td>
                <td>@Html.TextBoxFor(model => model.User.Password)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.User.Type)</td>
                <td>@Html.TextBoxFor(model => model.User.Type)</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td><input type="submit" value="Save" /></td>
            </tr>
        </table>
    }
</body>
</html>
